<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.akameco.brewupdate</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/akameco/dev/github.com/akameco/dotfiles/config/launchd/homebrew-update.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>30</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/brewupdate.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/brewupdate.err</string>
  </dict>
</plist>
