"*":
  "autocomplete-plus":
    enableAutoConfirmSingleSuggestion: false
    minimumWordLength: 1
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  "exception-reporting":
    userId: "01380d43-0520-f766-333c-afd8ace8ec10"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "gruvbox-plus-syntax":
    contrast: "Soft"
  linter:
    showErrorTabFile: false
    showErrorTabProject: false
  nuclide:
    "nuclide-diagnostics-store":
      legacyLintOnTheFly: true
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow":
      enableStructuredTypeHints: true
    "nuclide-home":
      showHome: false
  pigments:
    markerType: "dot"
  tabs:
    enableVcsColoring: true
  "vim-mode-plus":
    showHoverOnOperateIcon: "emoji"
  welcome:
    showOnStartup: false
